# Part 1 - Getting used to the new refractored methods

In [89]:
import sys
import os
import torch
from torch import nn
import numpy as np
import torch.optim as optim


# Get the absolute path of the directory containing the module you want to import
module_directory = r"C:\Users\Neel Patel\Documents\Github Repositories\WOD Project\WOD-prediction"

# Add the directory to the system path
sys.path.append(module_directory)

import wod_predictor
from wod_predictor.data_loader import DataLoader
from wod_predictor.splitter import DataSpitter
from wod_predictor.preprocessor import DataPreprocessor 
from wod_predictor.modeling import RandomForestModel

In [90]:
data_path = wod_predictor.__path__[0].replace("wod_predictor", "Data")
loader = DataLoader(root_path = data_path, objects= ['open_results','descriptions','benchmark_stats'])
data = loader.load()

c:\users\neel patel\documents\github repositories\wod project\wod-prediction\wod_predictor\data_loader.py:22: DtypeWarning: Columns (2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(self.root_path, file))
c:\users\neel patel\documents\github repositories\wod project\wod-prediction\wod_predictor\data_loader.py:22: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(self.root_path, file))

In [91]:
data['open_results']

,19.1,19.2,19.3,19.4,19.5,20.1,20.2,20.3,20.4,20.5,...,21.2,21.3,21.4,22.1,22.2,22.3,23.1,23.2A,23.2B,23.3
id,,,,,,,,,,,,,,,,,,,,,
153604,387 reps,16:28,7:27,8:08,6:53,8:28,959 reps,6:08,14:22,10:45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81616,399 reps,18:06,8:29,8:41,7:57,8:16,991 reps,6:40,17:47,10:11,...,9:39,8:19,275 lbs,352 reps,8:52,4:41,291 reps,177 reps,276 lbs,9:15
199938,380 reps,18:04,7:38,8:23,7:21,9:18,962 reps,7:22,17:56,10:48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514502,388 reps,17:06,9:29,8:33,7:20,8:05,1021 reps,6:32,15:00,11:11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308712,399 reps,18:26,7:40,9:14,8:12,9:02,1000 reps,6:52,16:52,11:07,...,NaN,NaN,NaN,353 reps,9:08,5:17,268 reps,168 reps,272 lbs,9:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2331240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1710035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1946832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2306867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
data['benchmark_stats']

,name,Back Squat,Chad1000x,Clean and Jerk,Deadlift,Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Max Pull-ups,Run 5k,Snatch,Sprint 400m
id,,,,,,,,,,,,,,,
469656,Jeffrey Adler,475.0,NaN,377.0,567.0,NaN,917.0,122.0,76.0,438.0,NaN,54.0,1155.0,290.0,59.0
300638,Tola Morakinyo,500.0,NaN,390.0,615.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,340.0,NaN
676693,Colten Mertens,555.0,NaN,335.0,545.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,275.0,NaN
663689,Tyler Christophel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1031875,Roldan Goldbaum,445.0,NaN,350.0,515.0,NaN,NaN,130.0,67.0,NaN,NaN,NaN,1080.0,280.0,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594361,Erik Davidson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1768926,Ammar El-wardani,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205540,Doug Shinstrom,400.0,NaN,297.0,455.0,NaN,NaN,193.0,133.0,NaN,NaN,25.0,NaN,215.0,98.0
2240531,Daniel Nevarez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884354,Hwang Heegwan,335.0,NaN,245.0,395.0,NaN,NaN,235.0,NaN,NaN,NaN,22.0,NaN,175.0,NaN

In [93]:
splitter = DataSpitter(sample = 1000, test_ratio=  0.2, test_filter='23.*')
train_data, test_data = splitter.split(data)

In [94]:
train_data['benchmark_stats'].shape,test_data['benchmark_stats'].shape

((800, 15), (200, 15))

In [95]:
train_data['open_results'].shape,test_data['open_results'].shape

((800, 21), (200, 4))

In [96]:
train_data['open_results']

,19.1,19.2,19.3,19.4,19.5,20.1,20.2,20.3,20.4,20.5,...,21.2,21.3,21.4,22.1,22.2,22.3,23.1,23.2A,23.2B,23.3
id,,,,,,,,,,,,,,,,,,,,,
2063,324 reps,326 reps,127 reps,1 reps,1 reps,NaN,NaN,NaN,NaN,NaN,...,13:15,168 reps,263 lbs,272 reps,193 reps,8:38,186 reps,147 reps,256 lbs,241 reps
2251,305 reps,258 reps,106 reps,114 reps,19:02,14:30,569 reps,113 reps,200 reps,17:50,...,14:54,161 reps,237 lbs,233 reps,153 reps,11:14,194 reps,137 reps,233 lbs,147 reps
2502,NaN,340 reps,141 reps,11:40,NaN,13:59,680 reps,115 reps,200 reps,17:51,...,12:04,11:17,265 lbs,270 reps,111 reps,8:57,194 reps,155 reps,247 lbs,210 reps
3968,304 reps,174 reps,115 reps,96 reps,174 reps,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,182 reps,115 reps,197 lbs,148 reps
5085,295 reps,254 reps,111 reps,127 reps,17:51,166 reps,547 reps,108 reps,198 reps,17:36,...,18:03,163 reps,209 lbs,216 reps,152 reps,11:08,185 reps,124 reps,227 lbs,148 reps
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2505687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,180 reps,123 reps,175 lbs,72 reps
2510970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,180 reps,151 reps,155 lbs,NaN
2512961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,181 reps,130 reps,187 lbs,NaN
2513736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,161 reps,131 reps,180 lbs,86 reps
2515504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,182 reps,140 reps,198 lbs,146 reps

In [97]:
keys_desc = train_data['workout_descriptions'].keys()

for key in keys_desc:
    if train_data['workout_descriptions'][key]['goal'].lower() == "load":
        print(train_data['workout_descriptions'][key])

{'goal': 'Load', 'time_cap': 12, 'total_reps': 2, 'description': 'Dumbbell squat, Bar-facing burpees, 1-rep-max clean, Men use 50-lb. dumbbells'}
{'goal': 'Load', 'time_cap': 7, 'total_reps': 4, 'description': '1 deadlift, 1 clean, 1 hang clean, 1 jerk, Time begins immediately following the completion of 21.3.'}
{'goal': 'Load', 'time_cap': 5, 'total_reps': 1, 'description': '1-rep-max thruster (from the floor)'}

In [98]:
test_data['workout_descriptions'].keys()

dict_keys(['17.1', '17.2', '17.3', '17.4', '17.5', '18.1', '18.2', '18.2a', '18.3', '18.4', '18.5', '19.1', '19.2', '19.3', '19.4', '19.5', '20.1', '20.2', '20.3', '20.4', '20.5', '21.1', '21.2', '21.3', '21.4', '22.1', '22.2', '22.3', '23.1', '23.2A', '23.2B', '23.3', '24.1'])

In [99]:
# Check for "--" in the open_results dataset
for col in train_data['open_results'].columns:
    if train_data['open_results'][col].dtype == "object":  # Only check object/string columns
        if train_data['open_results'][col].str.contains('--').any():
            print(f"Column '{col}' contains '--' values.")
            
# Check for "--" in the open_results dataset and show specific elements
for col in train_data['open_results'].columns:
    if train_data['open_results'][col].dtype == "object":  # Only check object/string columns
        rows_with_dashes = train_data['open_results'][col].str.contains('--', na=False)
        if rows_with_dashes.any():
            print(f"Column '{col}' contains '--' values at the following rows:")
            print(train_data['open_results'][rows_with_dashes][col])  # Show the rows with '--'

train_data['open_results']

Column '21.1' contains '--' values.
Column '21.2' contains '--' values.
Column '21.3' contains '--' values.
Column '21.4' contains '--' values.
Column '21.1' contains '--' values at the following rows:
id
2064732    --
Name: 21.1, dtype: object
Column '21.2' contains '--' values at the following rows:
id
1663490    --
Name: 21.2, dtype: object
Column '21.3' contains '--' values at the following rows:
id
1663490    --
1874559    --
Name: 21.3, dtype: object
Column '21.4' contains '--' values at the following rows:
id
1663490    --
1874559    --
Name: 21.4, dtype: object

,19.1,19.2,19.3,19.4,19.5,20.1,20.2,20.3,20.4,20.5,...,21.2,21.3,21.4,22.1,22.2,22.3,23.1,23.2A,23.2B,23.3
id,,,,,,,,,,,,,,,,,,,,,
2063,324 reps,326 reps,127 reps,1 reps,1 reps,NaN,NaN,NaN,NaN,NaN,...,13:15,168 reps,263 lbs,272 reps,193 reps,8:38,186 reps,147 reps,256 lbs,241 reps
2251,305 reps,258 reps,106 reps,114 reps,19:02,14:30,569 reps,113 reps,200 reps,17:50,...,14:54,161 reps,237 lbs,233 reps,153 reps,11:14,194 reps,137 reps,233 lbs,147 reps
2502,NaN,340 reps,141 reps,11:40,NaN,13:59,680 reps,115 reps,200 reps,17:51,...,12:04,11:17,265 lbs,270 reps,111 reps,8:57,194 reps,155 reps,247 lbs,210 reps
3968,304 reps,174 reps,115 reps,96 reps,174 reps,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,182 reps,115 reps,197 lbs,148 reps
5085,295 reps,254 reps,111 reps,127 reps,17:51,166 reps,547 reps,108 reps,198 reps,17:36,...,18:03,163 reps,209 lbs,216 reps,152 reps,11:08,185 reps,124 reps,227 lbs,148 reps
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2505687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,180 reps,123 reps,175 lbs,72 reps
2510970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,180 reps,151 reps,155 lbs,NaN
2512961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,181 reps,130 reps,187 lbs,NaN
2513736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,161 reps,131 reps,180 lbs,86 reps
2515504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,182 reps,140 reps,198 lbs,146 reps

In [100]:
preprocessing_config = {
    'open_results':
    {
        'scale_up': True,
        'scale_method': 'standard', # standard or quantile

    },
    'benchmark_stats':{
        'remove_outliers': True,
        'missing_method':'zero'
    },
    # 'athlete_info':{}
}
preprocessor = DataPreprocessor(config=preprocessing_config)
preprocessor.fit(data=train_data)

In [101]:
train_preprocessed = preprocessor.transform(data = train_data)
test_preprocessed = preprocessor.transform(data=test_data)
train_preprocessed

c:\users\neel patel\documents\github repositories\wod project\wod-prediction\wod_predictor\feature_engineering_parts\open_results_fe.py:49: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  workout_ids = workout_ids.str.replace(".", "_")
c:\users\neel patel\documents\github repositories\wod project\wod-prediction\wod_predictor\feature_engineering_parts\open_results_fe.py:49: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  workout_ids = workout_ids.str.replace(".", "_")

{'X':                workout_19.1  workout_19.2  workout_19.3  workout_19.4  \
 2063_19_1                 1             0             0             0
 2251_19_1                 1             0             0             0
 3968_19_1                 1             0             0             0
 5085_19_1                 1             0             0             0
 5196_19_1                 1             0             0             0
 ...                     ...           ...           ...           ...
 2274312_22_3s             0             0             0             0
 2278405_22_3s             0             0             0             0
 1833083_23_1s             0             0             0             0
 2246059_23_3s             0             0             0             0
 2486160_23_3s             0             0             0             0

                workout_19.5  workout_20.1  workout_20.2  workout_20.3  \
 2063_19_1                 0             0             0             0
 2251_19_1                 0             0             0             0
 3968_19_1                 0             0             0             0
 5085_19_1                 0             0             0             0
 5196_19_1                 0             0             0             0
 ...                     ...           ...           ...           ...
 2274312_22_3s             0             0             0             0
 2278405_22_3s             0             0             0             0
 1833083_23_1s             0             0             0             0
 2246059_23_3s             0             0             0             0
 2486160_23_3s             0             0             0             0

                workout_20.4  workout_20.5  ...  Fight Gone Bad  Filthy 50  \
 2063_19_1                 0             0  ...             0.0     1020.0
 2251_19_1                 0             0  ...             0.0        0.0
 3968_19_1                 0             0  ...             0.0        0.0
 5085_19_1                 0             0  ...             0.0        0.0
 5196_19_1                 0             0  ...             0.0        0.0
 ...                     ...           ...  ...             ...        ...
 2274312_22_3s             0             0  ...             0.0        0.0
 2278405_22_3s             0             0  ...             0.0        0.0
 1833083_23_1s             0             0  ...             0.0        0.0
 2246059_23_3s             0             0  ...             0.0        0.0
 2486160_23_3s             0             0  ...             0.0        0.0

                 Fran  Grace  Helen  L1 Benchmark  Max Pull-ups  Run 5k  \
 2063_19_1      144.0  122.0  465.0           0.0          49.0     0.0
 2251_19_1      226.0  132.0  545.0           0.0          31.0  1197.0
 3968_19_1        0.0    0.0    0.0           0.0           0.0     0.0
 5085_19_1      176.0  116.0  540.0           0.0          44.0     0.0
 5196_19_1      289.0  210.0    0.0           0.0          30.0     0.0
 ...              ...    ...    ...           ...           ...     ...
 2274312_22_3s    0.0    0.0    0.0           0.0           0.0     0.0
 2278405_22_3s    0.0    0.0    0.0           0.0           0.0     0.0
 1833083_23_1s    0.0    0.0    0.0           0.0           0.0     0.0
 2246059_23_3s    0.0    0.0    0.0           0.0           0.0     0.0
 2486160_23_3s    0.0    0.0    0.0           0.0           0.0     0.0

                   Snatch  Sprint 400m
 2063_19_1      264.55440          0.0
 2251_19_1      235.00000         59.0
 3968_19_1        0.00000          0.0
 5085_19_1      198.41580          0.0
 5196_19_1      178.57422         65.0
 ...                  ...          ...
 2274312_22_3s    0.00000          0.0
 2278405_22_3s    0.00000          0.0
 1833083_23_1s  195.00000          0.0
 2246059_23_3s    0.00000          0.0
 2486160_23_3s    0.00000          0.0

 [8787 rows x 56 columns],
 'y': 2063_19_1        1.250402
 2251_19_1        0.785991
 3968_19_1        0.761549
 5085_19_1        0.541565
 5196_19_1       -0.387256
                    ...
 2274312_22_3s   -0.873782
 2278405_22_3s    2.215694
 1833083_23_1s    0.000000
 2246059_23_3s    1.000000
 2486160_23_3s   -1.000000
 Name: score, Length: 8787, dtype: float64,
 'meta_data': {'idx_to_athlete_id': 1851912_23_1    1851912
  247782_23_1      247782
  699154_23_1      699154
  625520_23_1      625520
  1329702_23_1    1329702
                   ...
  2222_23_3          2222
  1315867_23_3    1315867
  1059414_23_3    1059414
  48467_23_3        48467
  2450889_23_3    2450889
  Name: athlete_id, Length: 788, dtype: int64,
  'idx_to_workout_name': 1851912_23_1    workout_23.1
  247782_23_1     workout_23.1
  699154_23_1     workout_23.1
  625520_23_1     workout_23.1
  1329702_23_1    workout_23.1
                      ...
  2222_23_3       workout_23.3
  1315867_23_3    workout_23.3
  1059414_23_3    workout_23.3
  48467_23_3      workout_23.3
  2450889_23_3    workout_23.3
  Name: workout, Length: 788, dtype: object,
  'scaler': <wod_predictor.feature_engineering_parts.normalization.StandardScalerByWod at 0x25af86f93c0>}}

In [102]:
train_preprocessed['X'].head(20)

,workout_19.1,workout_19.2,workout_19.3,workout_19.4,workout_19.5,workout_20.1,workout_20.2,workout_20.3,workout_20.4,workout_20.5,...,Fight Gone Bad,Filthy 50,Fran,Grace,Helen,L1 Benchmark,Max Pull-ups,Run 5k,Snatch,Sprint 400m
2063_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,1020.0,144.0,122.0,465.0,0.0,49.0,0.0,264.55440,0.0
2251_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,226.0,132.0,545.0,0.0,31.0,1197.0,235.00000,59.0
3968_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
5085_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,176.0,116.0,540.0,0.0,44.0,0.0,198.41580,0.0
5196_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,289.0,210.0,0.0,0.0,30.0,0.0,178.57422,65.0
6481_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,1418.0,188.0,103.0,473.0,0.0,57.0,0.0,290.00000,0.0
7588_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,1068.0,137.0,120.0,428.0,0.0,50.0,0.0,215.00000,52.0
10712_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,297.62370,0.0
12882_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,1240.0,160.0,170.0,515.0,0.0,61.0,0.0,215.00000,0.0
14469_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,176.0,128.0,478.0,0.0,38.0,0.0,205.00000,58.0
16289_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,200.00000,0.0
17788_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,138.0,99.0,471.0,0.0,0.0,0.0,245.00000,0.0
32736_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,225.00000,0.0
39259_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,1310.0,270.0,126.0,591.0,0.0,30.0,0.0,185.00000,0.0
55429_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
60678_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,230.0,0.0,0.0,0.0,40.0,1190.0,165.34650,0.0
61000_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,170.0,0.0,0.0,0.0,0.0,0.0,253.53130,0.0
65973_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,167.0,0.0,0.0,0.0,0.0,0.0,251.32668,0.0
68686_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
69229_19_1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,60.0,1221.0,244.71282,0.0

In [103]:

X_train_torch = torch.tensor(train_preprocessed['X'].values,dtype = torch.float32)
y_train_torch = torch.tensor(train_preprocessed['y'].values,dtype = torch.float32).view(-1,1)

X_test_torch = torch.tensor(test_preprocessed['X'].values,dtype = torch.float32)
y_test_torch = torch.tensor(test_preprocessed['y'].values,dtype = torch.float32).view(-1,1)

In [104]:
class WOD_predictor(nn.Module):
    
    def __init__(self, input_features, hidden_units, output_features):
        super(WOD_predictor, self).__init__()
          #Create the layers
        self.model = nn.Sequential(
        nn.Linear(in_features = input_features, out_features = hidden_units),
        nn.ReLU(),
        nn.Linear(in_features = hidden_units, out_features = hidden_units),
        nn.ReLU(),
        nn.Linear(in_features = hidden_units, out_features = hidden_units),
        nn.ReLU(),
        #nn.Dropout(p=0.2),
        nn.Linear(in_features = hidden_units, out_features = hidden_units),
        nn.ReLU(),
        nn.Linear(in_features = hidden_units, out_features = hidden_units),
        nn.ReLU(),
        nn.Linear(in_features = hidden_units, out_features = hidden_units),
        nn.ReLU(),
        nn.Linear(in_features = hidden_units, out_features = output_features),
        )
        

    def forward(self, x):
        return self.model(x)

model_V0 = WOD_predictor(input_features = X_train_torch.shape[1], output_features = 1, hidden_units = 64)
loss_fn = nn.MSELoss()
optimizer = torch.optim.Adam(params = model_V0.parameters(), lr = 0.01)

In [105]:
torch.manual_seed(42)
epochs = 1000

for epoch in range(epochs):
    model_V0.train()
    
    
    y_pred = model_V0(X_train_torch)
    loss = loss_fn(y_pred,y_train_torch)
    
    #print(f'Ypred shape:{y_pred.shape}||y_train shape{y_train.shape}')
    
    optimizer.zero_grad()
    loss.backward()
    
    optimizer.step()
    
    ### Testing loop
    
    model_V0.eval()
    
    with torch.inference_mode():
        test_pred = model_V0(X_test_torch)
        test_loss = loss_fn(test_pred,y_test_torch)
    if epoch%100 == 0:
            print(f"Epoch: {epoch}| Training Loss: {loss} | Test Loss: {test_loss}")

Epoch: 0| Training Loss: 1.0105273723602295 | Test Loss: 18.59979248046875
Epoch: 100| Training Loss: 0.9894405007362366 | Test Loss: 13.934950828552246
Epoch: 200| Training Loss: 0.9849956035614014 | Test Loss: 13.959798812866211
Epoch: 300| Training Loss: 0.989401638507843 | Test Loss: 13.94386100769043
Epoch: 400| Training Loss: 0.9834751486778259 | Test Loss: 14.003507614135742
Epoch: 500| Training Loss: 0.9880892038345337 | Test Loss: 14.033669471740723
Epoch: 600| Training Loss: 0.9873908162117004 | Test Loss: 14.022215843200684
Epoch: 700| Training Loss: 0.9779030084609985 | Test Loss: 14.060688018798828
Epoch: 800| Training Loss: 0.9782216548919678 | Test Loss: 13.927001953125
Epoch: 900| Training Loss: 0.980457067489624 | Test Loss: 13.92466926574707

In [106]:
import pandas as pd
from wod_predictor.models.helpers import unstack_series,show_breakdown_by_workout

y_test = test_preprocessed['y']
meta_data = test_preprocessed['meta_data']
y_pred = test_pred


y_test_unstacked = unstack_series(y_test, meta_data)
y_pred_unstacked = unstack_series(
    pd.Series(y_pred.detach().numpy().squeeze(), index=y_test.index, name="score"), meta_data
)

# reverse the scaling
if "scaler" in meta_data:
    y_test_unstacked = meta_data["scaler"].reverse(y_test_unstacked)
    y_pred_unstacked = meta_data["scaler"].reverse(y_pred_unstacked)




show_breakdown_by_workout(y_pred_unstacked, y_test_unstacked)

               y_test_mean  y_pred_mean  error_mean  error_percentage
workout_name
workout_23.1    185.407035   185.071396    8.305905          4.479822
workout_23.2A   132.065000   132.439438   11.994275          9.082100
workout_23.2B   207.220000   207.636490   25.422568         12.268395
workout_23.3     28.201336    24.272182    8.022383         28.446820

In [107]:
y_test_unstacked

workout_name  workout_23.1  workout_23.2A  workout_23.2B  workout_23.3
athlete_id
2222                 188.0          118.0          207.0     24.333333
13536                191.0          138.0          231.0     16.846154
14555                185.0          128.0          245.0     16.927536
15738                183.0          153.0          215.0     18.345550
24933                186.0          127.0          215.0     22.606452
...                    ...            ...            ...           ...
2471497              180.0          128.0          209.0     27.375000
2477973              181.0          143.0          166.0     27.375000
2494067              184.0          142.0          185.0           NaN
2515243              220.0          157.0          223.0     16.606635
2516477              196.0          135.0          225.0           NaN

[200 rows x 4 columns]

In [108]:
y_pred_unstacked

workout_name  workout_23.1  workout_23.2A  workout_23.2B  workout_23.3
athlete_id
2222            184.689041     132.845840     205.065033     24.490757
13536           185.922073     132.667511     210.910583     24.252165
14555           184.689041     132.845840     205.065033     24.490757
15738           185.383514     132.037659     209.673050     23.967541
24933           185.383514     132.037659     209.673050     23.967541
...                    ...            ...            ...           ...
2471497         184.689041     132.845840     205.065033     24.490757
2477973         184.689041     132.845840     205.065033     24.490757
2494067         184.689041     132.845840     205.065033           NaN
2515243         184.689041     132.845840     205.065033     24.490757
2516477         184.689041     132.845840     205.065033           NaN

[200 rows x 4 columns]

In [109]:
config = {}
rf_modeler = RandomForestModel(config = config, n_estimators = 10)
rf_modeler.fit(X = train_preprocessed['X'], y = train_preprocessed['y'])
rf_modeler.predict(X = test_preprocessed['X'])
rf_modeler.show_results(y_test = test_preprocessed['y'], meta_data = test_preprocessed['meta_data'])

Mean Absolute Error: 0.83
Mean Absolute Percentage Error: 3.21

               y_test_mean  y_pred_mean  error_mean  error_percentage
workout_name
workout_23.1    185.407035   185.631593    8.104155          4.371007
workout_23.2A   132.065000   131.810790   12.259698          9.283079
workout_23.2B   207.220000   209.616981   22.003099         10.618231
workout_23.3     28.201336    24.105275    7.686076         27.254296